// Settings: MQ

// Tarmac default media queries
$tm-mq-mobile: 767px;
$tm-mq-tablet: 992px;
$tm-mq-desktop: 1232px;
$tm-mq-classes: (
  'sd': $tm-mq-desktop,
  't': $tm-mq-tablet,
  'm': $tm-mq-mobile
);